.login-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  align-items: center;
  justify-content: center;
  background-color: #111d;
}

.login-container.active {
  display: flex;
}

.login-container .form-container {
  width: 500px;
  max-width: 90%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-container .form-switch {
  display: flex;
  margin-bottom: 20px;
}

.login-container .form-switch button {
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #999;
  background-color: transparent;
  padding: 10px;
}

.login-container .form-switch button.active {
  color: #04aa6d;
  border-bottom: 2px solid #04aa6d;
}

.login-container .form-content {
  position: relative;
  height: 300px;
}

.login-container .form-content form {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.login-container .form-content form.hide {
  opacity: 0;
  transform: translateX(-50px);
  pointer-events: none;
}

.login-container .form-content form.show {
  opacity: 1;
  transform: translateX(0);
}

.login-container .input-group {
  margin-bottom: 15px;
}

.login-container .input-group label {
  display: block;
  font-size: 14px;
  color: #333;
}

.login-container .input-group input {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.login-container .input-group input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.login-container .input-group a {
  display: block;
  font-size: 14px;
  color: #04aa6d;
  text-decoration: none;
}

.login-container .submit-btn {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #04aa6d;
  padding: 15px;
  border-radius: 5px;
}

.login-container .submit-btn:hover {
  opacity: 0.9;
}

.login-container .close-button {
  position: absolute;
  right: 60px;
  top: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.login-container .close-button .close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
}

.login-container .close-button .close-icon::before,
.login-container .close-button .close-icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #04aa6d;
  transform: rotate(45deg);
}

.login-container .close-button .close-icon::after {
  transform: rotate(-45deg);
}

.login-page-buttons {
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 7px;
  background-color: #008cba; /* Red */
  border: 2px solid #008cba;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.login-page-buttons:hover {
  background-color: white;
  color: #008cba;
  border: 2px solid #008cba;
}
